@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 20px;
  overflow: hidden;
  background-color: #242742;
}
.container {
  display: flex;
  width: 800px;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}
.right {
  width: 60%;
}
.left {
  width: 40%;
}
.container-left img {
  width: 100%;
  margin-left: 0rem;
}
ul {
  list-style-image: url(./assets/images/icon-success.svg);
}
li {
  margin-bottom: 22px;
  margin-left: -22px;
  font-size: 16px;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 4rem;
}
label {
  margin-bottom: 10px;
  color: black;
  font-size: small;
  display: flex;
  justify-content: space-between;
  /* background: #ff6a3a; */
}
input {
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  background: rgba(255, 97, 85, 0.15);
  opacity: 0.9s;
  border: 0.1px solid;
}
#error {
  color: #ff527b;
  display: flex;
  display: none;
}
button {
  font-family: inherit;
  margin-top: 20px;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #242742;
}
button:hover {
  background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
  /* transition: all 1s; */
}
h1 {
  font-size: 50px;
  color: #242742;
}
p {
  font-size: 16px;
  width: 376px;
}
.hidden {
  display: none;
}
.container-2 {
  background-color: white;
  width: 504px;
  padding: 40px;
  height: 520px;
  top: 280px;
  left: 468px;
  box-sizing: border-box;
  border-radius: 35px;
}
.container-2 h1 {
  font-size: 40px;
}
.success {
  font-weight: bold;
}
.icon {
  width: 50px;
}
.container-2 button {
  width: 319px;
  margin-left: 2rem;
  bottom: 31.85px;
  margin-top: 73px;
}

.confirm-msg {
  text-align: left;
}
.user-email {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    width: 105vw;
    height: 104vh;
    padding: 0;
    border-radius: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .container h1 {
    font-size: 40px;
  }
  .container-right {
    width: 100%;
    padding: 20px;
  }
  .container-left {
    width: 100%;
  }
  .container-left img {
    content: url("./assets/images/illustration-sign-up-mobile.svg");
    margin-left: 0rem;
    margin-bottom: 2rem;
  }
  form {
    width: 90%;
  }
  input {
    margin-left: 11px;
  }
  button {
    width: 90;
    margin-left: 11px;
    align-items: center;
    /* margin-top: 14rem; */
  }
  .container-2 {
    min-height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
  .message {
    margin-top: 96px;
  }
  .confirm-msg {
    width: 327px;
    height: 96px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .container-2 button {
    width: 294px;
    margin-left: 0rem;
    margin-top: 14rem;
  }
}
