@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(234, 29%, 20%);
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto";
  display: grid;
  place-content: center;
}
.container {
  max-width: 955px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .success {
  display: initial;
  padding: 3.5rem;
}
.left {
  color: hsl(234, 29%, 20%);
  padding: 4rem 2rem 2rem 2rem;
}
.left-info h1 {
  font-size: 56px;
  /* margin: .5rem; */
}
.left-info p,
.left-info ul {
  margin-bottom: 1.5rem;
}
.left-info ul li {
  list-style-image: url(assets/images/icon-list.svg);
  list-style-position: inside;
}
.left-info ul li::before {
  content: "";
  margin-right: 0.5rem;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item label {
  font-size: 12px;
  font-family: 700;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.form-item label .invalid-email {
  color: hsl(4, 100%, 67%);
  display: none;
}
.form-item label .invalid-email.active {
  display: block;
}
.form-item input,
.form-item button {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}
.form-item input {
  border: 1px solid grey;
}
.form-item input.active {
  background-color: rgba(225, 96, 87, 0.2);
  border: 1px solid hsl(4, 100%, 67%);
}
.form-item button {
  cursor: pointer;
  background: hsl(234, 29%, 20%);
  color: #fff;
  font-weight: 700;
  outline: none;
  border: none;
}
.form-item button:hover {
  background: linear-gradient(204.47deg, #ff6a3a 40%, #ff527b 100%);
}
.right {
  text-align: right;
}
.confirmed-message.hide {
  display: none;
}
.confirmed-message {
  background-color: white;
  width: 504px;
 height: 520px;
  padding: 40px;
  border-radius: 36px;
}
.confirmed-message.active {
  display: block;
}
.confirmed-message img {
  width: 50px;
}
.confirmed-message h2 {
  font-size: 56px;
  margin-top: 2rem;
  line-height: 100%;
}
.confirmed-message p {
  margin: 2rem 0;
}
.confirmed-message button {
  cursor: pointer;
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  border: 8px;
  outline: none;
  border: none;
}
.confirmed-message button:hover {
  background: linear-gradient(204.47deg, #ff6a3a 40%, #ff527b 100%);
}
#user-email {
  font-weight: 700;
}

@media (max-width: 768px) {
  body {
    display: initial;
    line-height: 1.4;
    overflow: hidden;
  }
  .container {
    width: 100%;
    height: initial;
    padding: 0;
    grid-template-columns: 1fr;
    border-radius: 0;
  }
  .container h1 {
    font-size: 40px;
    margin-top: -1rem;
  }
  .container .success {
    display: block;
    padding: initial;
  }
  .left {
    padding: 1rem 2rem;
    grid-row: 2;
  }
  .left-info ul li {
    margin-bottom: 1rem;
  }
  .right img {
    width: 100%;
    content: url("./assets/images/illustration-sign-up-mobile.svg");
    margin-top: -20px;
  }
  .confirmed-message.active {
    height: 100vh;
    padding: 14rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .confirmed-message {
    border-radius: 0;
    width: 375px;
    height: 812px;
  }
  .confirmed-message img{
    width: 64px;
    margin-top: 50px;
  }
  .confirmed-message h2{
    font-size: 45px;
    margin-left: -22px;
  }
  .confirmed-message p{
    margin-left: -22px;
  }
  .confirmed-message button {
    width: 289px;
    height: 56px;
    margin-top: 229px;
  }
}
